<footer class="site-footer" link="white">
          <div class="row">
            <div class="col-md-6">
              <p class="text-center text-md-left">Copyright © 2019 <a style = "color: white;" href="#">BPStash</a>. All rights reserved.</p>
            </div>

            <div class="col-md-6">
              <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                <li class="nav-item">
                  <a style = "color: white;" class="nav-link" href="https://discord.gg/2NAJVcu">Discord</a>
                </li>
                <li class="nav-item">
                  <a style = "color: white;" class="nav-link" href="mailto:nimishverma@ymail.com?subject = BPSTASh Feedback &body = Message">Email Us</a>
                </li>
               
              </ul>
            </div>
          </div>
        </footer>

