<!-- <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-5">
                      <section class="navbar-mobile">
                        <nav class="nav nav-navbar">
                          <a class="nav-link active" href="#">Home</a>
                          <a class="nav-link" href="#">Features</a>
                        </nav>
                      </section>
                    </div>

                    <div class="col-5 col-lg-2 text-lg-center">
                      <button class="navbar-toggler" type="button">☰</button>
                      <a class="navbar-brand" href="#">
                        <img class="logo-dark" src="../assets/img/logo-dark.png" alt="logo">
                        <img class="logo-light" src="../assets/img/logo-light.png" alt="logo">
                      </a>
                    </div>

                    <div class="col-7 col-lg-5 text-right">
                      <nav class="nav nav-navbar d-inline-flex">
                        <a class="nav-link" href="#">Sign in</a>
                      </nav>
                      <a class="btn btn-sm btn-round btn-outline-success" href="#">Sign up</a>
                    </div>

                  </div>
                </div>
              </nav>

 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="myNavigation">
        <div class="content container">

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-left" style="max-width:250px;">
            <a class="navbar-brand" href="/"><img class="logo-light" src="/static/img/logo.png" alt="BPStash" ></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#get-started">Features</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#hr2">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#hr3">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>   
