<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BPSTASH || Your Profile</title>

	<!-- Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400i" rel="stylesheet">

    <link rel="stylesheet" href="static/css/fonts.css">
	<link rel="stylesheet" href="static/css/main.css">


<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<!-- HEADER START -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="myNavigation">
        <div class="content container">

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#home">NAVIGATION BAR</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#letsdiscuss">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>   
</header>








<section class="main">


    <div id="profilePage">
        <div class="row">
            <div class="leftProfile col-md-8">
                <div class="wrapper">
                    <div class="leftInfo">
                        <div class="wrapperTwo">
                            <div class="topPart">
                                <h4>Hello, Vivek Anand Oberoi</h4>
                                <p class="interest"><span>Birthday: </span>15th September, 1996</p>
                                <p class="interest"><span>Zodiac:︎ </span>Gemini ♊</p>
                                <p class="interest"><span>Loves to do: </span>Skiing, Snowboarding, Electric guitar, Acoustic guitar</p>
                                <p class="interest"><span>Favorite food: </span>Peanut Butter, Jelly</p>
                                <h5 class="birthdayHeading">Upcoming Birthdays</h5>

                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/claire.jpg' width='150'> <p class='tooltipPara'>Claire Littleton<br>Birthday: 25th November</p>" class="birthdays">Claire Littleton, 25th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/Adelaine Morin.jpg' width='150'> <p class='tooltipPara'>Adelaine Morin<br>Birthday: 29th November</p>" class="birthdays">Adelaine Morin, 29th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/ana.jpg' width='150'> <p class='tooltipPara'>Ana Lucia<br>Birthday: 29th November</p>" class="birthdays">Ana Lucia, 29th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/rachel.jpg' width='150'> <p class='tooltipPara'>Rachel Green<br>Birthday: 15th December</p>" class="birthdays">Rachel Green, 15th December</p>

                            </div><!-- topPart -->

                            <div class="bottomButtons">
                                <a class="anchor1" href="#">Add Friends</a>
                                <a class="anchor2" href="#">Add More Photos</a>
                            </div><!-- bottomButtons -->   
                        </div><!-- wrapperTwo -->
                    </div><!-- leftInfo -->

                    <div class="rightPicture">
                        <div class="innerWrapper">
                            <div class="topBox"></div>
                            <img src="/static/ideas/images/2.jpg" alt="Profile Picture">
                            <div class="bottomBox">
                                <p>I always wanted to be a great writer, like Victor Hugo who wrote "Les Miserable", or like Roman Roland who wrote "John Christopher".</p>
                            </div>
                        </div><!-- innerWrapper -->
                    </div><!-- rightPicture -->

                    <a id="viewAll" href="#">View All Friends</a>



                <p>Recently added friends</p>
                <ul class="meow">
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                </ul>



                    
                </div><!-- wrapper -->





            </div><!-- leftProfile -->













            <div class="rightFriends col-md-4">
                <div class="wrapper">
                    <h3>Your Top Five Friends</h3>
                    <div class="friend friendOne">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/4.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Niha Malhotra</h4>
                                <p>Loves cookies, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendOne -->

                    <div class="friend friendTwo">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/tomholland.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Tom Holland</h4>
                                <p>Loves playing golf and bridge</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendTwo -->

                    <div class="friend friendThree">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="static/ideas/images/Glenne Headly.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Glenne Headly</h4>
                                <p>Loves shooting, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendThree -->

                    <div class="friend friendFour">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/Hiroyuki Sanada.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Hiroyuki Sanada</h4>
                                <p>Loves Kung fu, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendFour -->

                    <div class="friend friendFive">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/Michael Mantenuto.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Michael Mantenuto</h4>
                                <p>Loves car racing, surfing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendFive -->                 
                </div><!-- wrapper -->
            </div>
        </div>
    </div><!-- profilePage-->


</section><!-- main -->











<!-- <footer>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat blanditiis quisquam fuga debitis officia nam, consequatur voluptatibus, quod sequi excepturi nisi amet nobis eveniet</p> 
</footer> -->


	<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="static/js/myscript.js"></script>

</body>
</html>