{% extends 'base.html' %}
{% block content %}



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<section class="main">


    <div id="profilePage">
        <div class="row">
            <div class="leftProfile col-md-8">
                <div class="wrapper">
                    <div class="leftInfo">
                        <div class="wrapperTwo">
                            <div class="topPart">
                                <h4>Hello, Vivek Anand Oberoi</h4>
                                <p class="interest"><span>Birthday: </span>15th September, 1996</p>
                                <p class="interest"><span>Zodiac:︎ </span>Gemini ♊</p>
                                <p class="interest"><span>Loves to do: </span>Skiing, Snowboarding, Electric guitar, Acoustic guitar</p>
                                <p class="interest"><span>Favorite food: </span>Peanut Butter, Jelly</p>
                                <h5 class="birthdayHeading">Upcoming Birthdays</h5>

                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/claire.jpg' width='150'> <p class='tooltipPara'>Claire Littleton<br>Birthday: 25th November</p>" class="birthdays">Claire Littleton, 25th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/Adelaine Morin.jpg' width='150'> <p class='tooltipPara'>Adelaine Morin<br>Birthday: 29th November</p>" class="birthdays">Adelaine Morin, 29th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/ana.jpg' width='150'> <p class='tooltipPara'>Ana Lucia<br>Birthday: 29th November</p>" class="birthdays">Ana Lucia, 29th November</p>
                                <p data-toggle="tooltip" data-placement="top" data-html="true" title="<img class='tooltipimg' src='/static/ideas/images/rachel.jpg' width='150'> <p class='tooltipPara'>Rachel Green<br>Birthday: 15th December</p>" class="birthdays">Rachel Green, 15th December</p>

                            </div><!-- topPart -->

                            <div class="bottomButtons">
                                <a class="anchor1" href="#">Add Friends</a>
                                <a class="anchor2" href="#">Add More Photos</a>
                            </div><!-- bottomButtons -->   
                        </div><!-- wrapperTwo -->
                    </div><!-- leftInfo -->

                    <div class="rightPicture">
                        <div class="innerWrapper">
                            <div class="topBox"></div>
                            <img src="/static/ideas/images/2.jpg" alt="Profile Picture">
                            <div class="bottomBox">
                                <p>I always wanted to be a great writer, like Victor Hugo who wrote "Les Miserable", or like Roman Roland who wrote "John Christopher".</p>
                            </div>
                        </div><!-- innerWrapper -->
                    </div><!-- rightPicture -->

                    <a id="viewAll" href="#">View All Friends</a>



                <p>Recently added friends</p>
                <ul class="meow">
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                    <li><img src="/static/ideas/images/4.jpg" alt=""></li>
                </ul>



                    
                </div><!-- wrapper -->





            </div><!-- leftProfile -->













            <div class="rightFriends col-md-4">
                <div class="wrapper">
                    <h3>Your Top Five Friends</h3>
                    <div class="friend friendOne">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/4.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Niha Malhotra</h4>
                                <p>Loves cookies, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendOne -->

                    <div class="friend friendTwo">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/tomholland.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Tom Holland</h4>
                                <p>Loves playing golf and bridge</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendTwo -->

                    <div class="friend friendThree">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="static/ideas/images/Glenne Headly.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Glenne Headly</h4>
                                <p>Loves shooting, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendThree -->

                    <div class="friend friendFour">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/Hiroyuki Sanada.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Hiroyuki Sanada</h4>
                                <p>Loves Kung fu, yoga and dancing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendFour -->

                    <div class="friend friendFive">
                        <div class="innerWrapper">
                            <div class="leftImage">
                                <img src="/static/ideas/images/Michael Mantenuto.jpg" alt="Niha malhotra">
                            </div><!-- leftImage -->

                            <div class="rightText">
                                <h4>Michael Mantenuto</h4>
                                <p>Loves car racing, surfing</p>
                            </div><!-- rightText -->


                            <div class="overlay">
                                <div class="socialIcons">
                                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                                </div><!-- socialIcons -->
                            </div><!-- overlay -->
                        </div><!-- innerWrapper -->
                    </div><!-- friend friendFive -->                 
                </div><!-- wrapper -->
            </div>
        </div>
    </div><!-- profilePage-->


</section><!-- main -->











<!-- <footer>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat blanditiis quisquam fuga debitis officia nam, consequatur voluptatibus, quod sequi excepturi nisi amet nobis eveniet</p> 
</footer> -->


	<!-- Javascript -->
{% endblock %}